#cardInfo tr {
    line-height: 29px;
    .form_month,
    input {
        width: 195px;
    }
    #verifyCode {
        width: 84px;
    }
    #dateInput{
        width: 156px;
    }
    #vCodeButton {
        line-height: 21px;
        width: 105px;
        font-size: 14px;
        padding: 1px 0px;
        border: 1px solid #ccc;
    }
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{ -webkit-appearance: none !important; margin: 0; }
    input[type="number"]{-moz-appearance:textfield;} 
}

.tar {
    text-align: right;
}

input[readonly=readonly]{
    color: #6d6c6c;
    background: #e6e6e6;
}

#cardInfo {
    padding-left: 1%;
    padding-top: 3px;
}

#sureButton {
    margin-top: 5px;
}

.content>div:first-child {
    height: 440px;
}

.nav-tabs {
    height: 46px;
    > li.active > a,
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus,
    > li > a:hover {
        border: 1px solid #A6C0D6;
        border-bottom-width: 0px;
    }
}

.tab-content {
    height: 430px;
    td,
    th {
        padding: 3px;
    }
    .form-group {
        margin-bottom: 3px;
    }
}
#loding{
    .modal-dialog{
        width: 216px;
        margin-left: -108px;
    }
}

@media (min-width: 768px) {
  .modal-dialog {
    margin-left: -255px;
  }
}

.Validform_wrong{
    padding-left: 0px;
}

input{
    border-width: 1px;
}
