#footer{
    text-align: center;
    font-size: 14px;

}

#footer>div{
    background-color: #01476B;
    color: #fff;
    line-height: 30px;
}

#footer>p{
    color: #666666;
    margin-bottom: 10px;
}