@charset "utf-8";
$fontColor1:#222222;
$fontColor2:#999999;
$fontColor3:#ff0000;
$fontColor4:#00456c;

$font_size-22:"22px";
$font_size-20:"20px";
$font_size-18:"18px";
$font_size-16:"16px";
$font_size-14:"14px";

$iconColor:#ccc;